@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
}

code {
  -webkit-font-smoothing: initial;
}

body {
  @apply p-8;
}

/* 
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.35;
  margin-top: 0.75rem;
  word-break: break-word;
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.6;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

.heading {
  margin: 3.5rem 0 2rem 0;
  font-weight: 600;
}

.heading > span[id] {
  display: block;
  position: absolute;
  visibility: hidden;
  margin-top: -128px;
  padding-top: 128px;
}

.heading > a {
  color: inherit;
}

.heading > a:hover {
  color: inherit;
  border-bottom: 1px dotted;
}

.heading > a:hover ~ .permalink {
  visibility: visible;
}

.heading > .permalink {
  visibility: hidden;
  display: none;
}

@media (min-width: 992px) {
  .heading > a {
    margin-right: 0.5rem;
  }

  .heading > .permalink {
    display: inline-block;
  }
}

p {
  margin: 1.25rem 0;
}

code.inline {
  font-size: 0.9em;
  --vertical-spacing: 1px;
  color: var(--geist-foreground);
  font-family: var(--font-mono);
  white-space: pre-wrap;
  word-break: break-word;
  padding: var(--vertical-spacing) 2px;
  margin: -webkit-calc(-1 * var(--vertical-spacing)) 0;
  margin: -moz-calc(-1 * var(--vertical-spacing)) 0;
  margin: calc(-1 * var(--vertical-spacing)) 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: var(--accents-1);
  border: 1px solid var(--accents-2);
  -webkit-transition: color.2s ease;
  -moz-transition: color.2s ease;
  -o-transition: color.2s ease;
  transition: color.2s ease;
}

td > code.inline {
  word-break: normal;
}

pre {
  background: #1d1f21;
  color: #f8f8f2;
  white-space: pre;
  overflow: auto;
  padding: 1.5rem;
  margin: 1.5rem 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-overflow-scrolling: touch;
}

pre > code {
  font-size: 14px;
  line-height: 20px;
}

a.absolute > code.inline {
  color: #0074de;
}

a.absolute:hover > code.inline {
  color: #68b5fb;
}

a.relative {
  color: inherit;
  font-size: inherit;
  border-bottom: 1px dotted;
}

a.relative:hover {
  color: gray;
  text-decoration: none;
}

a.relative:hover > code.inline {
  color: gray;
}

hr {
  border: 0;
  border-top: 1px solid#eaeaea;
  margin: 1.25rem 0;
}

ul,
ol {
  padding-left: 1.5rem;
  margin: 1.25rem 0;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 0.625rem;
}

ul li:before {
  content: "-";
  color: #999;
  position: absolute;
  margin-left: -1rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 600px;
}

table > thead {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

table > thead > tr {
  height: 40px;
}

table > thead > tr > th {
  background: #fafafa;
  position: relative;
  padding: 0 12px;
  text-align: left;
  vertical-align: middle;
  border-top: 1px solid#eaeaea;
  border-bottom: 1px solid#eaeaea;
}

table > thead > tr > th:first-child {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  border-left: 1px solid#eaeaea;
}

table > thead > tr > th:last-child {
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid#eaeaea;
}

table > tbody > tr {
  height: 48px;
}

table > tbody > tr > td {
  padding: 8px 12px;
  vertical-align: middle;
  color: #444;
}

table > tbody > tr:not(:last-of-type) td {
  border-bottom: 1px solid#eaeaea;
}

img {
  width: 100%;
  background: #fafafa;
  border: 1px solid#eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
} */
